
@{

    ViewData["Title"] = "No Encontrado";

}

<h1 class="text-white font-bold text-xl font-[Poppins]">@ViewData["Title"]</h1>

<p class="text-white text-lg font-[Poppins]">El recurso al que esta intentando acceder no es válido</p>

<a asp-action="Index" class="font-[Poppins] text-white">Ir al Inicio</a>