<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RegistroEmpleados</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RegistroEmpleados.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

</head>
<body class="home">
    <header class="header">
        <nav class="p-5 bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% shadow md:flex md:items-center md:justify-between">

            <ul class="nav_items font-[Poppins] md:flex md:items-center ">
                <li class="nav_item">
                    <a class="nav_link text-xl" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav_item">
                    <a class="nav_link text-xl" asp-controller="Empleados" asp-action="Lista">Lista de Empleados</a>
                </li>
                <li class="nav_item relative" x-data="{dropdownOpen:false}">
                   
                    <button class="text-xl text-white outline-none nav_link">Departamentos ▾</button>
                    <div class="">

                        <ul class="dropdown">

                            <li>
                                <a class="flex p-2 font-medium rounded-md hover:bg-cyan-200" asp-controller="Departamentos" asp-action="CrearDepartamento">Añadir</a>
                            </li>
                            <li>
                                <a class="flex p-2 font-medium rounded-md hover:bg-cyan-200" asp-controller="Departamentos" asp-action="ListaDepartamento">Lista</a>
                            </li>

                        </ul>

                    </div>

                </li>
            </ul>
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RegistroEmpleados - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
